notes.md
.DS_Store
*.build
*.index-build
/.xcodeproj
*.pem
.podspecs
.swiftpm
.swift-version
xcuserdata
Package.resolved
.serverless
.vscode

# backend
backend/.DS_Store
backend/.build
backend/.swiftpm
backend/.devContainer
backend/Packages
backend/*.xcodeproj
backend/xcuserdata/
backend/.vscode/*
backend/!/.vscode/hummingbird.code-snippets
backend/.env.*
backend/.env
backend/img/generated_images
backend/.vscode

# frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz

frontend/coverage

frontend/.next/
frontend/out/

frontend/build

frontend/.DS_Store
frontend/*.pem

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/.env*.local

frontend/.vercel

frontend/*.tsbuildinfo
frontend/next-env.d.ts
